* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.rating {
    display: flex;
    justify-content: space-between;
}
.star {
    font-size: 32px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked {
    color: gold;
}