<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="es">
<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <title>Listado de Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div th:replace="~{/fragments/navbar.html}"></div>
    </header>
    <div class="container">
        <h2>Comentarios</h2>
        <table class="table table-hover shadow p-3 rounded">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID </th>
                    <th scope="col">Comentarios</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Id trabajo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>    
            <tbody th:each="comentario : ${comentarios}">
                <tr>
                    <th scope="row" th:text="${comentario.id}"></th>
                    <th th:if="${comentario.alta == true}" th:text="${comentario.comentario}"></th>
                    <th th:if="${comentario.alta != true}">Este comentario ha sido eliminado por violacion de politicas</th>
                    <td th:switch="${comentario.trabajo.calificacion}">
                        <div th:case="1">
                            <i class="bi bi-star-fill star"></i>
                        </div>
                        <div th:case="2">
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                        </div>
                        <div th:case="3">
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                        </div>
                        <div th:case="4">
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                        </div>
                        <div th:case="5">
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i>
                        </div>
                    </td>
                    <th th:text="${comentario.trabajo.id}"></th>
                    <th th:text="${comentario.trabajo.usuario.nombre}"></th>
                    <th th:text="${comentario.trabajo.provedor.usuario.nombre}"></th>
                    <td>
                        <a th:href="@{/comentario/eliminar/__${comentario.id}__}" class="btn btn-danger">Eliminar</a>
                        <!-- <form th:action="@{/comentario/eliminar/__${comentario.id}__}" method="post">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div th:replace="~{/fragments/footer.html}"></div>
    </footer>
</body>
</html>