<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head::head"></head>

<body>
    <nav class="navbar navbar-expand-lg navBar">
        <div class="containerImg">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="logo" src="" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto elementos">
                <li class="nav-item">
                    <a class="nav-link" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                        Ingresar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                        Registrar
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--<div th:replace="/fragments/exito_error.html"></div>-->
    <header class="header">
        <section class="contenedorMain">
                <a class="navbar-brand" th:text="'error ' + ${codigo}">HOME SERVICES</a>
                <p class="" th:text="${mensaje}"></p>
            </div>
        </section>
    </header>

    <!-- Contenedor para cargar el contenido de footer.html -->
    <!-- <div th:replace="/fragments/footer :: footer"></div> -->
    <div th:replace="/fragments/footer.html"></div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


</body>

</html>