<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <cabecera>
        <!-- Contenedor para cargar el contenido de navbar.html -->
        <div th:replace="~{/fragments/navbar.html}"></div>
        <!-- Contenedor para cargar el contenido de exito_error.html -->
        <div th:replace="~{/fragments/exito_error.html}"></div>
    </cabecera>
    
    <main class="p-2">
        <!-- textos para prueba -->
            <h1 sec:authorize="hasRole('USER')">Este es el INICIO USER</h1>
            <h1 sec:authorize="hasRole('ADMIN')">Este es el INICIO ADMIN</h1>
    </main>

    <footer>
        <!-- <div th:replace="/fragments/footer :: footer"></div> -->
        <div th:replace="~{/fragments/footer.html}"></div>
    </footer>

</body>
</html>