<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
<header>
    <!-- Contenedor para cargar el contenido de navbar.html -->
    <div th:replace="~{/fragments/navbar.html}"></div>
    <!-- Contenedor para cargar el contenido de exito_error.html -->
    <div th:replace="~{/fragments/exito_error.html}"></div>
</header>

<main class="p-2">

    <!-- ---- lienzo layteral ---- -->
    <div>
        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">User</button> -->

        <div class="offcanvas offcanvas-end rounded-4 rounded-end-0" data-bs-scroll="true" tabindex="0"
             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header bg-primary-subtle">
                <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Datos de proveedor</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-4 me-0 d-flex flex-column align-items-center">

                <!-- ---------------------- -->
                <form class="formulario" th:action="@{/provedor/modificar/__${session.usuariosession.id}__}" method="POST"
                enctype="multipart/form-data" >

                    <!-- Imagen -->
                    <div class="d-flex align-items-center">
                        <a class="d-flex justify-content-center">
                            <img th:if="${session.usuariosession.imagen != null}"
                                class="rounded-circle border shadow" style="width: 35%;"
                                th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
                        </a>
                    </div>

                    <!-- Nombre -->
                    <div class="d-flex justify-content-center">
                        <label th:text="'¡Hola ' + ${session.usuariosession.nombre} +'!'"
                            class="fs-5 fw-bold mt-3"></label>
                    </div>


                    <!-- -------Acordeon con form para actualizar datos de usuario------- -->
                    <div class="accordion w-100" id="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button rounded" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseDatosUser" aria-expanded="false"
                                    aria-controls="collapseDatosUser">
                                    Actualizar informacion del usuario
                                </button>
                            </h2>
                            <div id="collapseDatosUser" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body">

                                    <!-- ---------Form ---------- -->
                                    <form class="formulario"
                                        th:action="@{/usuario/modificar/__${session.usuariosession.id}__}" method="POST"
                                        enctype="multipart/form-data">

                                        <input hidden th:value="${session.usuariosession.id}" name="id">

                                        <div class="form-group my-3">
                                            <!-- <div class="d-flex align-items-center"> -->
                                            <label class="label-imput fst-italic fw-lighter my-0" for="file">Imagne de
                                                perfil:</label>
                                            <input type="file"
                                                class="form-control rounded-5 rounded-end-0 border shadow"
                                                name="archivo"
                                                th:value="${session.usuariosession.getImagen.getNombreImagen}">
                                            <!-- </div> -->
                                        </div>

                                        <div class="form-group">
                                            <label class="label-imput fst-italic fw-lighter my-0"
                                                for="nombre">Nombre:</label>
                                            <input type="text"
                                                class="form-control rounded-5 rounded-end-0 border shadow" name="nombre"
                                                placeholder="Nombre" th:value="${session.usuariosession.nombre}">
                                        </div>

                                        <div class="form-group">
                                            <label class="label-imput fst-italic my-0" for="email">Email:</label>
                                            <input type="email"
                                                class="form-control rounded-5 rounded-end-0 border shadow" name="email"
                                                placeholder="Email" th:value="${session.usuariosession.email}">
                                        </div>

                                        <div class="form-group">
                                            <label class="label-imput fst-italic my-0" for="phone">Telefono:</label>
                                            <input type="phone"
                                                class="form-control rounded-5 rounded-end-0 border shadow" name="phone"
                                                placeholder="Phone" th:value="${session.usuariosession.phone}">
                                        </div>

                                        <div class="form-group">
                                            <label class="label-imput fw-light fst-italic my-0">Localidad:</label>
                                            <select name="localidad"
                                                class="form-control rounded-5 rounded-end-0 border shadow">
                                                <option disabled selected>Seleccionar Localidad</option>
                                                <option th:each="localidad : ${localidades}" th:value="${localidad}"
                                                    th:text="${localidad}" th:selected="${session.usuariosession.phone}"
                                                    </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="label-imput fw-light fst-italic my-0">Contraseña:</label>
                                            <input type="password"
                                                class="form-control rounded-5 rounded-end-0 border shadow"
                                                name="password" placeholder="Contraseña"
                                                th:value="${session.usuariosession.password}">
                                        </div>

                                        <div class="form-group">
                                            <label class="label-imput fw-light fst-italic my-0">Confirmar
                                                contraseña:</label>
                                            <input type="password"
                                                class="form-control rounded-5 rounded-end-0 border shadow"
                                                name="password2" placeholder="Repetir contraseña"
                                                th:value="${session.usuariosession.password}">
                                        </div>

                                        <button type="submit"
                                            class="btn btn-warning mt-3 w-100 rounded-5 rounded-end-0">Actualizar</button>

                                    </form>
                                    <!-- ---------------------- -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------- -->

                    <!-- -------Acordeon con form para seleccionar servicios del proveedor------- -->
                    <div th:if="${session.usuariosession.rol.name == 'PROV'}" class="accordion my-4 w-100" id="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button rounded" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseServiciosProv" aria-expanded="false"
                                    aria-controls="collapseServiciosProv">
                                    Servicios ofrecidos por el Proveedor
                                </button>
                            </h2>
                            <div id="collapseServiciosProv" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body">

                                    <!-- ---------Form ---------- -->
                                    <form class="formulario"
                                        th:action="@{/provedor/crear/__${session.usuariosession.id}__}" method="POST"
                                        enctype="multipart/form-data">

                                        <input hidden th:value="${session.usuariosession.id}" name="id">

                                        <div th:each="servicio : ${servicios}" class="container">
                                            <div class="form-check">
                                                <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                                                <!-- <label th:text="${servicio.nombre}" class="form-check-label" for="flexCheckDefault"></label> -->
                                                <input class="form-check-input" type="checkbox" th:value="${servicio.id}" name="servicios" th:id="${servicio.id}">
                                                <label th:for="${servicio.id}" th:text="${servicio.nombre}" class="form-check-label"></label>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-warning mt-3 w-100 rounded-5 rounded-end-0">Actualizar Servicios</button>
                                    </form>
                                    <!-- ---------------------- -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------- -->

                    <!-- ----Boton para cambio de Rol USER / PROV---- -->
                    <a th:href="@{/usuario/modificarRol/{id}(id=${session.usuariosession.id})}"
                        class="btn btn-outline-primary mt-5 w-75 rounded-5 justify-content-center shadow" data-bs-toggle="tooltip" title="Cambiar de rol"
                        th:text="'Cambiar a ' + (${session.usuariosession.rol.name} == 'USER' ? 'Proveedor' : 'Usuario')">
                        <i class="bi bi-arrow-repeat fs-4"></i>
                    </a>
                    <!-- ---------- -->

            </div>
        </div>
    </div>

    <div class="container-fluid contenedor-dashboard row d-flex justify-content-between p-4 bg-light">
        <!-- ---Contenedor de TOP de Servicios--- -->
        <div class="container contenedor contenedor-servicios-top col-12 col-sm-3 col-md-5 mb-4 mx-3 p-4 shadow bg-white rounded-4">
            <h3 class="bg-dark text-light rounded-5 rounded-end-0 border-0 text-center mb-4">Trabajos que he solicitado</h3>

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                            SOLICITADOS
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Aca va la respectiva lista  -->
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Proveedor</th>
                                            <th scope="col">Descripcion</th>
                                            <!-- <th scope="col">Solicitud</th> -->
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'SOLICITADO')} AND ${trabajo.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.provedor.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <!-- <td>
                                                <a th:href="@{/provedor/presupuestar/__${trabajo.id}__}">Presupuestar</a>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            PRESUPUESTADO
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Proveedor</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Presupuesto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'PRESUPUESTADO')} AND ${trabajo.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.provedor.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.presupuesto}"></th>
                                            <td>                
                                                <a th:href="@{/provedor/aceptarTrabajo/__${trabajo.id}__}" data-bs-toggle="tooltip" title="Aceptar trabajo" class="btn btn-primario btn-sm">Aceptar</a>
                                                <!-- <a th:href="@{/provedor/verTrabajo/__${trabajo.id}__}">Cancelar</a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            ACEPTADOS
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Proveedor</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Presupuesto</th>
                                            <!-- <th scope="col">Acciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'ACEPTADO')} AND ${trabajo.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.presupuesto}"></th>
                                            <!-- <td>
                                                <a th:href="@{/provedor/finalizar/__${trabajo.id}__}" class="btn btn-primario btn-sm" data-bs-toggle="tooltip" title="Marcar trabajo como finalizado">Finalizar</a>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            TERMINADOS
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Proveedor</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Acciones</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'TERMINADO')} AND ${trabajo.usuario.id == session.usuariosession.id} AND ${trabajo.comentario == null}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <td>
                                                <a th:href="@{/provedor/comentar/__${trabajo.id}__}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="Comentar y calificar">Calificar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            CALIFICADOS
                        </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('USER')" scope="col">Proveedor</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Comentario</th>
                                            <th scope="col">Calificación</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'TERMINADO')} AND ${trabajo.usuario.id == session.usuariosession.id} AND ${trabajo.comentario != null}">
                                            <th sec:authorize="hasRole('USER')" scope="row" th:text="${trabajo.provedor.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <th th:if="${trabajo.comentario != null}" th:text="${trabajo.comentario.comentario}"></th>
                                            <td th:switch="${trabajo.calificacion}">
                                                <div th:case="1">
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="2">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="3">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="4">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="5">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <!-- ---------------------- -->

                    <!-- ----Boton para cambio de Rol USER / PROV---- -->
                    <a th:href="@{/usuario/modificarRol/{id}(id=${session.usuariosession.id})}"
                        class="btn btn-outline-primary mt-5 w-75 rounded-5 justify-content-center shadow" data-bs-toggle="tooltip" title="Cambiar de rol"
                        th:text="'Cambiar a ' + (${session.usuariosession.rol.name} == 'USER' ? 'Proveedor' : 'Usuario')">
                        <i class="bi bi-arrow-repeat fs-4"></i>
                    </a>
                    <!-- ---------- -->

            </div>
        </div>
    </div>


        <!-- ---Contenedor de Info-Trabajos--- -->
        <div class="container contenedor contenedor-trabajos col mb-4 mx-3 p-4 shadow bg-white rounded-4">
            <h3 class="bg-dark text-light rounded-5 rounded-end-0 border-0 text-center mb-4">Trabajos que me han solicitado</h3>

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            SOLICITADOS
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Aca va la respectiva lista -->
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Cliente</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Solicitud</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'SOLICITADO')} AND ${trabajo.provedor.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <td>
                                                <a th:href="@{/provedor/presupuestar/__${trabajo.id}__}">Presupuestar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            PRESUPUESTADO
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Cliente</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Presupuesto</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'PRESUPUESTADO')} AND ${trabajo.provedor.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.presupuesto}"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ACEPTADOS
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Cliente</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Presupuesto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'ACEPTADO')} AND ${trabajo.provedor.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.presupuesto}"></th>
                                            <td>
                                                <a th:href="@{/provedor/finalizar/__${trabajo.id}__}" class="btn btn-primario btn-sm" data-bs-toggle="tooltip" title="Marcar trabajo como finalizado">Finalizar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            TERMINADOS
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <section class="seccion tabla">
                                <table class="table table-hover shadow p-3 rounded">
                                    <thead class="table-dark">
                                        <tr>
                                            <th sec:authorize="hasRole('PROV')" scope="col">Cliente</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Comentario</th>
                                            <th scope="col">calificación</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody th:each="trabajo :${trabajos}">
                                        <tr th:if="${#strings.equals(trabajo.estado, 'TERMINADO')} AND ${trabajo.provedor.usuario.id == session.usuariosession.id}">
                                            <th sec:authorize="hasRole('USER')" scope="row" th:text="${trabajo.provedor.usuario.nombre}"></th>
                                            <th sec:authorize="hasRole('PROV')" scope="row" th:text="${trabajo.usuario.nombre}"></th>
                                            <th th:text="${trabajo.descripcion}"></th>
                                            <th th:if="${trabajo.comentario != null}" th:text="${trabajo.comentario.comentario}"></th>
                                            <td th:switch="${trabajo.calificacion}">
                                                <div th:case="1">
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="2">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="3">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="4">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                                <div th:case="5">
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                    <i class="bi bi-star-fill star"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>
    </div>
</main>

<footer>
    <!-- <div th:replace="/fragments/footer :: footer"></div> -->
    <div th:replace="~{/fragments/footer.html}"></div>
</footer>

</body>

</html>