<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org/extras/spring-security ">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Contenedor para cargar el contenido de navbar.html -->
        <div th:replace="~{/fragments/navbar.html}"></div>
    </header>

<main>
    <div th:replace="~{/fragments/exito_error.html}"></div>
    <section>
        <form th:action="@{/provedor/presupuestar/__${trabajo.id}__}" method="POST" class="formulario m-5 shadow p-3 rounded" enctype="multipart/form-data">

            <div sec:authorize="hasRole('PROV')" class="input contenedor">
            <h2>Costo aproximado del servicio $:</h2>
                <input th:value="${trabajo.presupuesto}" type="number" name="presupuesto" class="form-control"/>
            </div>
            <button type="submit" class="form-group btn btn-primario my-3 w-100">Aceptar</button>
            <!-- <div sec:authorize="hasRole('PROV')"class="button-container2">
            </div> -->
            <!-- <div sec:authorize="hasRole('USER')" class="input contenedor">
                <input th:value="${trabajo.presupuesto}" type="text" name="Costo del servicio" readonly/>
            </div>
            <div sec:authorize="hasRole('USER')"class="button-container2">
                <input th:if="${#strings.equals(trabajo.estado, 'PRESUPUESTADO')}" type="submit" value="Aceptar" onclick="estado('ACEPTADO')" class="button"/>
                <input th:if="${#strings.equals(trabajo.estado, 'PRESUPUESTADO')}" type="submit" value="Rechazar" onclick="estado('CANCELADO')" class="button"/>
            </div> -->
        </section>
    </form>
</main>
<footer>
    <!-- Contenedor para cargar el contenido de footer.html -->
    <div th:replace="~{/fragments/footer.html}"></div>
</footer>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
