<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="es">
<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <title>Listado de Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div th:replace="~{/fragments/navbar.html}"></div>
    </header>

    <div class="container">
        <h1>Listado de Proveedores</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;" th:each="provedor : ${provedores}"> <!-- aca debo traerme solo a los usuarios con el rol proveedor -->
                    <img th:if="${provedor.usuario.imagen != null}" th:src="@{/imagen/provedor/__${provedor.usuario.id}__}" class="card-img-top" alt="Proveedor 1">
                    <div class="card-body">
                        <h5 class="card-title">Nombre: <span th:text="${provedor.usuario.nombre}"></span></h5>
                        <p class="card-text" >Correo electronico: <span th:text="${provedor.usuario.email}"></span> </p>
                        <p class="card-text" >Telefono: <span th:text="${provedor.usuario.phone}"></span></p> 
                        <ul th:if="${provedor.servicio.size() > 0}" th:each="servicio : ${provedor.servicio}">
                            <li class="card-text" th:each="servicio: ${provedor.servicio}" th:text="${servicio.nombre}"></li>
                        </ul>
                        <!-- <p class="card-text" th:text="${provedor.calificacion}">calificacion promedio</p> -->
                        <!-- <p class="card-text" th:text="${usuario.servicio}"></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/fragments/footer.html}"></div>
</body>
</html>