
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org/extras/spring-security ">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <!-- <link href="/css/index.css" rel="stylesheet"> -->
</head>

<body>
    <header>
        <!-- Contenedor para cargar el contenido de navbar.html -->
        <div th:replace="~{/fragments/navbar.html}"></div>
    </header>

<main>
    <div th:replace="~{/fragments/exito_error.html}"></div>
    <section>
        <h2 class="mb-4">Servicios ofrecidos</h2>
        <!-- <form th:action="@{/provedor/presupuestar/__${trabajo.id}__}" method="POST" class="formulario m-5 shadow p-3 rounded" enctype="multipart/form-data"> -->
        <form class="formulario m-5 shadow p-3 rounded" method="POST" enctype="multipart/form-data">
            <!-- aca pueden ir los demas formulario, por ejemplo el del nombre por si el lo quiere cambiar -->
            <div class="mb-3">
                <div class="custom-checkbox">
                    <div th:each="servicio : ${servicios}" class="form-check">
                        <input th:id="${servicio.id}" class="form-check-input" type="checkbox" name="servicio" th:value="${servicio.id}"/>
                        <label th:for="${servicio.id}" th:text="${servicio.nombre}"></label>
                    </div>
                </div>
            </div>
        </form>

    </section>
</main>
<footer>
    <!-- Contenedor para cargar el contenido de footer.html -->
    <div th:replace="~{/fragments/footer.html}"></div>
</footer>
    
</body>

</html>