<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <link href="/css/registro.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="/inicio" class="navbar-brand">
                <img class="logo" src="/img/LogoHomeServices.png" alt="Img logo Home Services">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" role="button" aria-expanded="false">
                            Ingresar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<main>
    <!-- Contenedor para cargar el contenido de exito_error.html -->
    <div th:replace="/fragments/exito_error.html"></div>

    <div class="container-fluid p-0">
        
        <div class="row no-gutters main-contenedor">
            <div class="contenedor col-12 position-relative p-0 d-flex flex-column align-items-center"> <!-- Añadir clases flexbox para centrar verticalmente -->
                
                <div class="bg-image d-none d-lg-block"></div>
                
                <img src="/img/imageIndexPage2.jpg" alt="Image index page" class="img-fluid d-lg-none w-100">
                
                <div class="container-fluid m-5 form-container d-none d-lg-block">

                    <form class="formulario" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                
                        <div class="form-group my-3">
                            <h3 class="card-title">Registrate!</h3>
                        </div>
                        <div class="form-group my-3">
                            <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" th:value="${nombre}">
                        </div>
                
                        <div class="form-group my-3">
                            <input type="email" class="form-control" name="email" placeholder="EMAIL" th:value="${email}">
                        </div>
                
                        <div class="form-group my-3">
                            <input type="phone" class="form-control" name="phone" placeholder="PHONE" th:value="${phone}">
                        </div>
                
                        <div class="form-group my-3">
                            <input type="file" class="form-control" name="archivo" >
                        </div>
                
                        <div class="form-group my-3">
                            <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" th:value="${password}">
                        </div>
                        <div class="form-group my-3">
                            <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA"
                              th:value="${password2}">
                        </div>
                
                        <button type="submit" class="btn btn-warning mt-3 w-100">Registrarme</button>
                        
                        <div class="form-group">
                            <a th:href="@{/}" class="btn my-2 ">Volver</a>
                        </div>
                    </form>
                
                </div>
                
            </div>
        </div>

<!--     ------------------------------------->

        <div class="row no-gutters d-lg-none  align-items-center">
            <div class="container-fluid form-container">

                <form class="formulario p-5" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
            
                    <div class="form-group my-2">
                        <h3 class="card-title">Registrate!</h3>
                    </div>
                    <div class="form-group my-2">
                        <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" th:value="${nombre}">
                    </div>
            
                    <div class="form-group my-2">
                        <input type="email" class="form-control" name="email" placeholder="EMAIL" th:value="${email}">
                    </div>
            
                    <div class="form-group my-2">
                        <input type="phone" class="form-control" name="phone" placeholder="PHONE" th:value="${phone}">
                    </div>
            
                    <div class="form-group my-3">
                        <input type="file" class="form-control" name="archivo" >
                    </div>
            
                    <div class="form-group my-2">
                        <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA"
                               th:value="${password}">
                    </div>
                    <div class="form-group my-2">
                        <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA" th:value="${password2}">
                    </div>
            
                    <button type="submit" class="form-group btn btn-primario my-3 w-100">Registrarme</button>
                    
                    <div class="my-3">
                        <a th:href="@{/}" class="btn">Volver</a>
                    </div>
                    
                </form>
            
            </div>
        </div>
    </div>
</main>





    <!-- Contenedor para cargar el contenido de footer.html -->
    <!-- <div th:replace="/fragments/footer :: footer"></div> -->
    <div th:replace="~{/fragments/footer.html}"></div>

</body>

</html>