<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <link href="/css/registro.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Contenedor para cargar el contenido de navbar.html -->
        <div th:replace="~{/fragments/navbar.html}"></div>
    </header>

    <main>
        <div class="container-fluid p-5">
            <form class="formulario m-5 shadow p-3 rounded" th:action="@{/usuario/crearTrabajo/__${provedor.id}__}" method="POST" enctype="multipart/form-data">
                <input th:value=${session.usuariosession.id} name="idUsuario" type="hidden">
                <input th:value=${provedor.id} name="idProvedor" type="hidden">
                    <h3 class="card-title">Crear Trabajo</h3>
                </div>

                <div class="form-group my-2">
                    <input type="text" class="form-control" name="descripcion" placeholder="Descripcion de la reparacion que necesita" th:value="${descripcion}" required>
                </div>

                <button type="submit" class="form-group btn btn-primario my-3 w-100">Aceptar</button>
            </form>


        </div>



    </main>

    <footer>
        <!-- Contenedor para cargar el contenido de footer.html -->
        <!-- <div th:replace="/fragments/footer :: footer"></div> -->
        <div th:replace="~{/fragments/footer.html}"></div>
    </footer>

</body>

</html>