<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{/fragments/head.html}"></div>
    <link href="/css/registro.css" rel="stylesheet">
</head>

<body>

<header>
    <!-- Contenedor para cargar el contenido de navbar.html -->
    <div th:replace="~{/fragments/navbar.html}"></div>
    <!-- Contenedor para cargar el contenido de exito_error.html -->
    <div th:replace="~{/fragments/exito_error.html}"></div>
</header>


<main>

    <div class="container-fluid p-5">

            <form class="formulario m-5 shadow p-3 rounded" th:action="@{/admin/modificar/__${usuario.id}__}" method="POST"
                  enctype="multipart/form-data">

                <div class="form-group my-3">
                    <h3 class="card-title">Actualizar Datos de usuarios</h3>
                </div>

                <input hidden th:value="${id}" name="id">

                <div class="form-group my-3">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre"
                           th:value="${usuario.nombre}">
                </div>

                <div class="form-group my-3">
                    <input type="email" class="form-control" name="email" placeholder="Email"
                           th:value="${usuario.email}">
                </div>

                <div class="form-group my-3">
                    <input type="phone" class="form-control" name="phone" placeholder="Phone"
                           th:value="${usuario.phone}">
                </div>

                <div class="form-group my-3">
                    <label class="mb-2 fw-light fst-italic">Seleccionar Localidad</label>
                    <select name="localidad" class="form-control">
                        <option disabled selected>Seleccionar Localidad</option>
                        <option th:each="localidad : ${localidades}"
                                th:value="${localidad}"
                                th:text="${localidad}"
                                th:selected="${usuario.localidad}"
                        </option>
                    </select>
                </div>

                <div class="form-group my-3">
                    <input hidden th:value="${usuario.imagen.idImagen}" name="idImagen">
                </div>

                <div class="form-group my-3">
                    <div class="d-flex align-items-center">
                        <a> <img th:if="${usuario.imagen != null}" class="logo rounded-circle" th:src="@{/imagen/perfil/__${usuario.id}__}"> </a>
                        <input type="file" class="form-control ms-3" name="archivo">
                    </div>
                </div>

                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña"
                           th:value="${usuario.password}">
                </div>

                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password2"
                           placeholder="Repetir contraseña" th:value="${usuario.password}">
                </div>

                <button type="submit" class="btn btn-warning mt-3 w-100">Actualizar</button>

                <div class="form-group">
                    <a th:href="@{/admin/usuarios}" class="btn my-2 ">Volver</a>
                </div>
            </form>

    </div>
</main>


<!-- Contenedor para cargar el contenido de footer.html -->
<!-- <div th:replace="/fragments/footer :: footer"></div> -->
<div th:replace="~{/fragments/footer.html}"></div>

</body>

</html>